@import "../../references";

.cucarda-descuento {
  display: flex;
  margin-top: -25px;

  .cucarda {
    background: $orange;
    color: #fff;
    width: auto;
    margin-right: auto;
    margin-left: 250px;
  }
}
