@import "./iconos";

$light-gray: #f5f5f5;
$light-gray-2: #e3e3e3;
$light-gray-3: #ccc;
$lighter-blue: #0086c9;
$lighter-blue-2: #1ba7ff;
$lighter-blue-3: #46b8da;
$light-blue: #0c389f;
$light-blue-2: #2a6dbf;
$blue: #0054a6;
$dark-blue: #004b75;
$darker-blue: #101820;
$gray: #666;
$gray-2: #999;
$gray-3: #888;
$gray-4: #4f4f4f;
$gray-5: #444;
$dark-gray: #333;
$red: #bd3327;
$red-2: #c2282c;
$dark-red: #980000;
$purple: #584285;
$orange: #fa4616;
$border: solid thin #999;
