@import "./iconos";

.buttonDataContainer {
  &::before {
    content: "";
    display: inline-block;
    margin: auto 0;
    color: white;
    @include shopping_cart(21px, "b");
  }

  .buttonText {
    margin: auto 0;
    padding-top: 1px;
    margin-left: 5px;
    font-weight: 300;
    @media (max-width: 465px) {
      font-size: 12px;
      max-width: 70%;
      flex-wrap: wrap;
    }
  }
}
