@import "./references";

.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #1f2222;
  color: #f0f0f0;
  height: 30px;
}

.flexRowContent--main-header {
  background-color: #fff;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem 0;
  background-color: #fff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #f0f0f0;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;

  .stretchChildrenWidth,
  .flexCol {
    align-items: center;
  }
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRowContent--3-mobile {
  :first-child {
    margin: 0 auto;
  }
}

/* HOME */
.flexRow--mosaico {
  margin-bottom: 15px;

  :global(.vtex-store-components-3-x-container) {
    padding: 0;

    .flexRowContent--mosaico {
      display: flex;
      flex-direction: row;

      .stretchChildrenWidth {
        width: 50% !important;

        .flexCol--mosaico-1 {
          margin-right: 7.5px;

          .flexColChild {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }

        .flexCol--mosaico-2 {
          margin-left: 7.5px;

          .flexColChild {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

.flexRow--flex-row-header {
  width: 100%;
  padding-left: 35px;
}

/* FOOTER */
.flexColChild--menu-col-footer {
  height: auto !important;

  :global(.vtex-menu-2-x-menuContainer) {
    :global(.vtex-menu-2-x-styledLinkContainer) {
      margin: 0 !important;
    }
  }
}

.flexRowContent--menu-row-footer {
  padding: 0 15px;
}

.flexColChild--col-social {
  display: flex;
  justify-content: left;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

/* INSTITUTIONAL */
.flexCol--col2-body-beneficios,
.flexCol--col2-body-cambio,
.flexCol--col2-body-comoComprar,
.flexCol--col2-body-comoPagar,
.flexCol--col2-body-compraSegura,
.flexCol--col2-body-mails,
.flexCol--col2-body-miCuenta,
.flexCol--col2-body-opcionesDespacho,
.flexCol--col2-body-orden,
.flexCol--col2-body-paquetes,
.flexCol--col2-body-politicaPrivacidad,
.flexCol--col2-body-productoFallado,
.flexCol--col2-body-productos,
.flexCol--col2-body-contacto,
.flexCol--col2-body-terminosCondiciones {
  height: max-content;
}

.flexColChild--imgInstagram {
  :global(.vtex-iframe-0-x-container) {
    :first-child {
      @media (max-width: 768px) {
        height: 340px;
      }

      @media (max-width: 425px) {
        height: 230px;
      }
    }
  }
}

.flexRowContent--product-main {
  .stretchChildrenWidth {
    :global(.vtex-store-components-3-x-price_className) {
      margin: 15px 0 20px;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;

      :global(.vtex-store-components-3-x-price_listPriceLabel),
      :global(.vtex-store-components-3-x-sellingPriceLabel),
      :global(.vtex-store-components-3-x-savingPrice) {
        display: none;
      }
    }

    :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
      display: block;
    }
  }

  :last-child {
    .flexColChild {
      .stretchChildrenWidth {
        display: flex;
        justify-content: left;

        :global(.vtex-buton) {
          width: 80% !important;
          border-radius: 0;
        }
      }
    }
  }

  :global(.vtex-store-components-3-x-productNameContainer) {
    margin-bottom: 15px;
  }

  :global(.vtex-store-components-3-x-priceContainer) {
    margin-bottom: 15px;
  }

  :global(.vtex-reviews-and-ratings-1-x-summaryContainer) {
    margin-bottom: 15px;
  }

  :global(.vtex-store-components-3-x-productImage) {
    width: 95%;
    display: flex;
    margin: 0 auto;
  }
}

.flexRowContent--rowBuyButton {
  margin-bottom: 0.5rem;

  :global(.vtex-button) {
    border-radius: 22px;
    width: 70%;
    :global(.vtex-button__label) {
      padding: 0;
    }
    @media (max-width: 768px) {
      margin: 0 auto;
    }
    &:hover {
      background-color: #ffffff;
      border: solid thin #1f2222;
      :global(.vtex-add-to-cart-button-0-x-buttonDataContainer) {
        &::before {
          content: "";
          display: inline-block;
          margin: auto 0;
          color: #000;
          @include shopping_cart(21px);
        }
        :global(.vtex-add-to-cart-button-0-x-buttonText) {
          color: #1f2222;
          font-weight: 300;
          @media (max-width: 465px) {
            font-size: 12px;
            max-width: 70%;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

.flexRowContent--rowResult {
  display: flex;
  flex-direction: column;

  .flexRow--rowContentResult {
    width: 100%;
  }
}

.flexRowContent--category {
  .stretchChildrenWidth {
    &:first-child {
      width: 20% !important;
    }

    &:last-child {
      width: 80% !important;

      .flexRowContent {
        .stretchChildrenWidth {
          width: 100% !important;
        }
      }
    }
  }
}

.flexRow--main-header-mobile .flexRowContent--main-header-mobile {
  display: flex;
  flex-direction: row;
}

/* PAGE RETIRO EN TIENDA */
.flexCol--body-retiroTienda {
  width: 75%;
}
.flexColChild--body-retiroTienda {
  display: flex;
  justify-content: center;
}
:global(.vtex-store-components-3-x-imageElement--click-collect1) {
  padding-top: 1.5em;
}
.flexRowContent--colunas-retiroTienda {
  display: flex;
  justify-content: space-between;

  .flexCol--col1-retiroTienda,
  .flexCol--col2-retiroTienda,
  .flexCol--col3-retiroTienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;

    :global(.vtex-rich-text-0-x-paragraph) {
      text-align: center;
    }
  }
  :global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo3),
  :global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo4),
  :global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo5) {
    font-weight: 700;
    font-size: 18px;
  }
}

:global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo1) {
  font-size: 30px;
  background-color: #fcf8e3;
  padding: 0.2em 3em;
  text-align: center;
}
:global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo2) {
  font-size: 30px;
  margin-top: -0.5em;
}
@media (max-width: 768px) {
  :global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo1) {
    font-size: 18px;
  }
  :global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo2) {
    font-size: 18px;
  }
  .flexRowContent--colunas-retiroTienda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  :global(.vtex-rich-text-0-x-paragraph--retiroTienda-titulo6) {
    font-size: 22px !important;
  }
}
//INFORMACION IMPORTANTE
.flexRow--information-row {
  width: 80%;
  margin: 1rem auto;

  :global(.vtex-rich-text-0-x-strong--information-title) {
    font-size: 28px;
  }
}

.flexRow--fetchmore {
  margin-top: 40px;
  margin-bottom: 50px;
  :global(.vtex-store-components-3-x-container) {
    width: 100%;
  }
}
