@import "./references";

.openIconContainer {
  padding: 0;
}

.minicartIconContainer {
  &::before {
    content: "";
    display: block;
    @include shopping_cart(21px);
  }

  .cartIcon {
    display: none;
  }
}

.minicartCheckoutButton {
  :global(.vtex-button__label) {
    font-size: 0;
    &::before {
      content: "Ver Carro y Pagar";
      font-size: 16px;
    }
  }
}

:global(.vtex-button) {
  border-radius: 22px;
}

.minicartEmptyStateContainer {
  padding-left: 1.5rem;
  :global(.vtex-rich-text-0-x-paragraph) {
    font-size: 0;
    &::before {
      content: "Tu Carro está vacio!";
      font-size: 16px;
      margin-top: 15px;
    }
  }
}
