:global(.vtex-store-components-3-x-autoCompleteOuterContainer) {
  .input {
    background-color: #f5f5f5;
  }
  :global(.vtex-input-prefix__group) {
    border: none;
  }
  :global(.vtex-input__prefix) {
    background-color: #f5f5f5;
  }
}
