:global(.vtex-store-components-3-x-autoCompleteOuterContainer) {
  border-bottom: groove;
  .input {
    background-color: #fff;
  }
  :global(.vtex-input-prefix__group) {
    border: none;
  }
  :global(.vtex-input__prefix) {
    background-color: #fff;
  }
}
