@import "./references";
@media (min-width: 768px) {
  .gallery {
    padding-right: 2rem;
    justify-content: space-between;
    .galleryItem {
      flex-basis: 33% !important;
      max-width: 33% !important;
    }
  }
}
.container--layout {
  color: #1f2222;

  .galleryTitle--layout {
    display: flex;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Bebas Neue";

    @media (max-width: 768px) {
      margin-top: 20px;
      justify-content: center;
    }
  }

  :global(.vtex-flex-layout-0-x-flexColChild--filterCol) {
    background-color: #fff;
    margin-left: 5px;
    padding-left: 5px;
  }

  :global(.vtex-product-summary-2-x-nameContainer) {
    padding-bottom: 0.5rem !important;
  }

  :global(.vtex-store-components-3-x-sellingPriceValue) {
    font-size: 1rem;
  }
}

.filterItem {
  color: #1f2222;
  font-size: 13px;

  /* :global(.vtex-checkbox__container) {
    display: none;
  } */
}
:global(.vtex-checkbox__line-container) {
  :last-child {
    color: #1f2222;
  }
}

.filterIcon {
  color: #1f2222;
}

.filterContent,
.categoriesContainer {
  padding-left: 10px;
}

.filterTitle,
.categoryItemName {
  color: #1f2222;
  font-weight: 400;
  font-size: 13px;
}

.filter__container--selectedFilters {
  padding-right: 4px;

  .selectedFilterItem {
    background: #1f2222;
    padding: 6px 8px 6px 11px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    :global(.vtex-checkbox__box) {
        &::after {
            content: "x";
            margin-left: auto;
            color: #fff;
            position: absolute;
            left: 5px;
            z-index: 0;
        }
    }
    

    :global(.vtex-checkbox__line-container) {
      width: 100%;
      z-index: 2;

      :not(:first-child) {
        color: #fff;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}

.orderByOptionsContainer {
  z-index: 10;
}

.filter__container--c {
  .categoryParent {
    :first-child {
      &:hover {
        opacity: 100;
        cursor: default;
      }
    }
  }
  .categoryItemChildrenContainer {
    :first-child {
      border: none;
      .categoryItemChildren {
        font-family: inherit;
        font-size: 13px;
        color: #1f2222;
        font-weight: 400;
      }
    }
  }
}

.orderByText,
.orderByOptionItem,
.filterPopupTitle,
.totalProducts,
.totalProductsMessage {
  font-family: inherit;
  font-size: 13px;
}

.filterClearButtonWrapper--filterNavigator,
.filterApplyButtonWrapper--filterNavigator {
  :global(.vtex-button) {
    background-color: #1f2222;
    :global(.vtex-button__label) {
      color: #fff;
    }
  }
}

.categoryParent--filterNavigator {
  &:focus {
    outline: none;
  }
}

.filterAvailable--filterNavigator {
  :first-child {
    outline: none;
  }
}

.progressBar,
.progressBarFiller {
  height: 5px;
}

.buttonShowMore {
  :global(.vtex-button) {
    outline: none;
    padding: 0.5em 3em;
    @media (max-width: 768px) {
      width: 60%;
    }
  }
}

.showingProducts {
  color: #3f3f40;
  font-weight: 700;
}
