@import "./references";

.openIconContainer {
  padding: 0;
}

.minicartIconContainer {
  &::before {
    content: "";
    display: block;
    @include shopping_cart(21px);
  }

  .cartIcon {
    display: none;
  }
}

.minicartCheckoutButton {
  :global(.vtex-button) {
    border-radius: 22px;
  }
}
