@import "./references";

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
  display: none;
}

:global(.vtex-my-orders-app-3-x-cancelBtn){
  display: none;
}

:global(.vtex-order-placed-2-x-orderOptionsWrapper),
:global(.vtex-account__order-details) {
  a[href*="/cancel"] {
    display: none;
  }
}