@import "./references";

.container {
  margin-bottom: 15px;

  font-family: Helvetica, Arial, sans-serif;


  .arrow {
    color: #444;

    &::before {
      content: '/\00a0';
      display: inline-block;
      background-image: url('/arquivos/spritesheet.png?v=3');
      background-size: 278px 255px;
      background-position: -141px -114px;
      width: 8px;
      height: 8px;
      margin-left: 2px;
    }

    .caretIcon {
      display: none;
    }
  }
}

.homeLink {

  padding-top: 4px;
  &::before {
    content: "Home";
  }

  .homeIcon {
    display: none;
  }
}


.link, .term {
  margin-left: 8px;
  font-size: 12px;
  // font-weight: 100 !important;
  color: $gray-5;
  text-transform: uppercase;
  margin-bottom: 0;

  &:hover {
    color: $gray-5;
  }
}
